In [33]:
#2015-2019
import pandas as pd
first = pd.ExcelFile("Tablolar2015-2019.xls")
sheet_names = first.sheet_names
sheet_names = sheet_names[1:]
print(sheet_names)
data_list = []

for sheet_name in sheet_names:
    df = pd.DataFrame(pd.read_excel(first, sheet_name))
    data_list.append(df)

['t1', 't2', 't3', 't4']

In [34]:
crimes = list(data_list[0]["Geliş nedeni ve cinsiyete göre güvenlik birimine gelen veya getirilen çocukların karıştığı olay sayısı, 2015-2019"].dropna()[2:9])
for crime in crimes:
    temp = crime.split(' - ')[1]
    if (temp[-1] == ' '):
        temp = temp[:-1]
    crimes[crimes.index(crime)] = temp
print(crimes)

['Total', 'Pushed into crime', 'Misdemeanour', 'Lost (Found)', 'Victim', 'Witness', 'Other']

In [35]:
years = list(data_list[0].iloc[2].dropna())
print(years)

[2015, 2016, 2017, 2018, 2019]

In [36]:
person_num = []
columns_to_drop = ["Unnamed: 4", "Unnamed: 8", "Unnamed: 12","Unnamed: 16"]
data_list[0].drop(columns=columns_to_drop, inplace = True)
column_names = list(data_list[0].columns)[1:]
print(column_names)

['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'INDEX', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19']

In [37]:
dataset = []
for column in column_names:
    temp = list(data_list[0][column].dropna())
    if temp[0] in years:
        temp = temp[2:]
    else:
        temp = temp[1:]
    dataset.append(temp)
    print(temp)

keys = ["Total", "Male", "Female"]
year = 0
bigdata = {}
while len(dataset) > 0:
    temp = {}
    tempList = dataset[0:3]
    for index in range(3):
        temp[keys[index]] = tempList[index]
    dataset = dataset[3:]
    bigdata[years[year]] = temp
    year += 1

[443887, 133662, 1723, 9538, 226625, 71663, 676]
[292559, 113954, 1463, 4570, 126917, 45360, 295]
[151328, 19708, 260, 4968, 99708, 26303, 381]
[467931, 148523, 2395, 13914, 230405, 72095, 599]
[308206, 125733, 2105, 7286, 127010, 45766, 306]
[159725, 22790, 290, 6628, 103395, 26329, 293]
[448772, 140692, 4310, 15319, 219062, 68754, 635]
[296765, 119519, 3546, 8103, 121113, 44162, 322]
[152007, 21173, 764, 7216, 97949, 24592, 313]
[483184, 152011, 8908, 15374, 232851, 73231, 809]
[313674, 127752, 7894, 7790, 123339, 46469, 430]
[169510, 24259, 1014, 7584, 109512, 26762, 379]
[511247, 168250, 11711, 17339, 235931, 76997, 1019]
[334158, 137780, 10155, 9704, 127550, 48383, 586]
[177089, 30470, 1556, 7635, 108381, 28614, 433]

In [38]:
holder0 = {}
for year in years:
    holder0[year] = pd.DataFrame(bigdata[year], index = pd.Index(crimes))

In [39]:
for index, row in data_list[1].iterrows():
    if pd.isnull(row).all():
        data_list[1].drop(index=index, inplace=True)
data_list[1] = data_list[1].iloc[4:].reset_index(drop=True)
columns_to_drop = ["Unnamed: 4", "Unnamed: 7", "Unnamed: 10", "Unnamed: 13"]
data_list[1].drop(columns=columns_to_drop, inplace = True)
data_list[1] = data_list[1].replace("-", 0)

In [40]:
years = [2019, 2018, 2017, 2016, 2015]
new_columns = ["Reason for Reception", "Total" , "Total - Boy", "Total - Girl", "Boy (0 - 11)", "Girl (0 - 11)", "Boy (12 - 14)", "Girl (12 - 14)", "Boy (15 - 17)", "Girl (15 - 17)", "Unknown - Boy", "Unknown - Girl"]

In [41]:
holder1 = {}
year = 0
while data_list[1].shape[0] > 0:
    temp = data_list[1].iloc[1:8]
    if years[year] != 2017:
        temp.columns = new_columns
    else: 
        new_columns.remove("Unknown - Boy")
        new_columns.remove("Unknown - Girl")
        temp = temp.drop(temp.columns[-2:], axis = 1)
        temp.columns = new_columns
        new_columns.append("Unknown - Boy")
        new_columns.append("Unknown - Girl")
    data_list[1] = data_list[1].iloc[19:]
    holder1[years[year]] = temp
    year += 1
for year in years:
    holder1[year] = holder1[year].reset_index(drop = True)

In [42]:
data_list[2] = data_list[2].iloc[5:-6]
for index, row in data_list[2].iterrows():
    if pd.isnull(row).all():
        data_list[2].drop(index=index, inplace=True)
data_list[2] = data_list[2].reset_index(drop=True)
columns_to_drop = ["Unnamed: 4", "Unnamed: 8", "Unnamed: 12", "Unnamed: 16"]
data_list[2] = data_list[2].drop(columns=columns_to_drop)

In [43]:
my_columns = ["","Total", "Male", "Female"]
years = years[::-1]

In [44]:
columns = data_list[2].columns.tolist()
holder2 = {}
for year in years:
    temp = columns[0:4]
    temp = data_list[2][temp]
    temp.columns = my_columns
    holder2[year] = temp
    for i in range(1,4):
        del columns[1]

In [45]:
data_list[3] = data_list[3].iloc[4:-8].reset_index(drop=True)
columns_to_drop = ["Unnamed: 4", "Unnamed: 8", "Unnamed: 12", "Unnamed: 16"]
data_list[3] = data_list[3].drop(columns=columns_to_drop)
data_list[3] = data_list[3].replace("-", 0)
for index, row in data_list[3].iterrows():
    if pd.isnull(row).all():
        data_list[3].drop(index=index, inplace=True)
df = df.reset_index(drop=True)
for column in data_list[3].columns.tolist()[1:]:
        data_list[3][column] = data_list[3][column].astype(int)

In [46]:
columns = data_list[3].columns.tolist()
holder3 = {}
for year in years:
    temp = data_list[3][columns[:4]]
    temp.columns = my_columns
    holder3[year] = temp
    for i in range(1,4):
        del columns[1]

In [47]:
#2020
import pandas as pd
first = pd.ExcelFile("Tablolar2020.xls")
sheet_names = first.sheet_names
sheet_names = sheet_names[1:]
data_list = []
for sheet_name in sheet_names:
    df = pd.DataFrame(pd.read_excel(first, sheet_name))
    data_list.append(df)
columns_to_drop = data_list[0].columns.tolist()[1:-3]
data_list[0] = data_list[0].drop(columns=columns_to_drop)
data_list[0] = data_list[0].iloc[3:10].reset_index(drop=True)
new_cols = ["", "Total", "Male", "Female"]
data_list[0].columns = new_cols
data_list[0][""] = crimes
holder0[2020] = data_list[0]

In [48]:
new_columns = ["Reason for Reception", "Total" , "Total - Boy", "Total - Girl", "Total - (10 - 11)", "Boy (0 - 11)", "Girl (0 - 11)", "Total - (12 - 14)", "Boy (12 - 14)", "Girl (12 - 14)", "Total - (15 - 17)","Boy (15 - 17)", "Girl (15 - 17)", "Unknown - Total", "Unknown - Boy", "Unknown - Girl"]
columns_to_drop = ["Unnamed: 4", "Unnamed: 8", "Unnamed: 12", "Unnamed: 16"]
data_list[1] = data_list[1].drop(columns=columns_to_drop)
data_list[1] = data_list[1].iloc[4:11]
data_list[1].columns = new_columns
data_list[1] = data_list[1].replace("-", 0)
for column in data_list[1].columns.tolist()[1:]:
        data_list[1][column] = data_list[1][column].astype(int)
holder1[2020] = data_list[1]

In [49]:
data_list[2] = data_list[2].drop(columns=["Unnamed: 8", "INDEX", "Unnamed: 1", "Unnamed: 2", "Unnamed: 3", "Unnamed: 4"])
data_list[2] = data_list[2].iloc[3:-4]
new_cols = ["", "Total", "Male", "Female"]
data_list[2].columns = new_cols
holder2[2020] = data_list[2]

In [50]:
data_list[3] = data_list[3].drop(columns=["Unnamed: 8", "INDEX", "Unnamed: 1", "Unnamed: 2", "Unnamed: 3", "Unnamed: 4"])
for index, row in data_list[3].iterrows():
    if pd.isnull(row).all():
        data_list[3].drop(index=index, inplace=True)
new_cols = ["", "Total", "Male", "Female"]
data_list[3] = data_list[3].iloc[3:-6]
data_list[3].columns = new_cols
holder3[2020] = data_list[3]

In [51]:
#2021
import pandas as pd
first = pd.ExcelFile("Tablolar2021.xls")
sheet_names = first.sheet_names
sheet_names = sheet_names[1:]
data_list = []
for sheet_name in sheet_names:
    df = pd.DataFrame(pd.read_excel(first, sheet_name))
    data_list.append(df)
columns_to_drop = data_list[0].columns.tolist()[1:-3]
data_list[0] = data_list[0].drop(columns=columns_to_drop)
data_list[0] = data_list[0].iloc[3:10].reset_index(drop=True)
new_cols = ["", "Total", "Male", "Female"]
data_list[0].columns = new_cols
data_list[0][""] = crimes
holder0[2021] = data_list[0]

In [52]:
new_columns = ["Reason for Reception", "Total" , "Total - Boy", "Total - Girl", "Total - (10 - 11)", "Boy (0 - 11)", "Girl (0 - 11)", "Total - (12 - 14)", "Boy (12 - 14)", "Girl (12 - 14)", "Total - (15 - 17)","Boy (15 - 17)", "Girl (15 - 17)", "Unknown - Total", "Unknown - Boy", "Unknown - Girl"]
columns_to_drop = ["Unnamed: 4", "Unnamed: 8", "Unnamed: 12", "Unnamed: 16"]
data_list[1] = data_list[1].drop(columns=columns_to_drop)
data_list[1] = data_list[1].iloc[4:11]
data_list[1].columns = new_columns
data_list[1] = data_list[1].replace("-", 0)
for column in data_list[1].columns.tolist()[1:]:
        data_list[1][column] = data_list[1][column].astype(int)
holder1[2021] = data_list[1]

In [53]:
data_list[2] = data_list[2].drop(columns=["Unnamed: 8", "INDEX", "Unnamed: 1", "Unnamed: 2", "Unnamed: 3", "Unnamed: 4"])
data_list[2] = data_list[2].iloc[3:-4]
new_cols = ["", "Total", "Male", "Female"]
data_list[2].columns = new_cols
holder2[2021] = data_list[2]

In [54]:
data_list[3] = data_list[3].drop(columns=["Unnamed: 8", "INDEX", "Unnamed: 1", "Unnamed: 2", "Unnamed: 3", "Unnamed: 4"])
for index, row in data_list[3].iterrows():
    if pd.isnull(row).all():
        data_list[3].drop(index=index, inplace=True)
new_cols = ["", "Total", "Male", "Female"]
data_list[3] = data_list[3].iloc[3:-6]
data_list[3].columns = new_cols
holder3[2021] = data_list[3]

In [55]:
holder = {0: holder0, 1: holder1, 2:holder2, 3:holder3}

In [56]:
holder[0][2015]

                    Total    Male  Female
Total              443887  292559  151328
Pushed into crime  133662  113954   19708
Misdemeanour         1723    1463     260
Lost (Found)         9538    4570    4968
Victim             226625  126917   99708
Witness             71663   45360   26303
Other                 676     295     381

In [57]:
holder0name = "guiltykidsbasedreasonofarriveandgender"
holder1name = "guiltykidsbasedreasonofarriveageandgender"
holder2name = "accusedkidsbasedtypeofaccusationandgender"
holder3name = "genderofkidsreasonandcrimegrievance"
holder_names = [holder0name, holder1name, holder2name, holder3name]

In [58]:
years = [2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [59]:
def indexing(df, indexes, column):
    df.index = indexes
    df = df.drop(column, axis=1)
    return df

In [60]:
holder[1][2015]

,Reason for Reception,Total,Total - Boy,Total - Girl,Boy (0 - 11),Girl (0 - 11),Boy (12 - 14),Girl (12 - 14),Boy (15 - 17),Girl (15 - 17),Unknown - Boy,Unknown - Girl
0,Toplam - Total,443887,292559,151328,66422,44964,71093,37451,155038,68905,6,8
1,Suça sürüklenme - Offence,133662,113954,19708,3458,2036,30630,6137,79866,11535,0,0
2,Kabahat işleme - Misdemeanour,1723,1463,260,10,6,18,2,1435,252,0,0
3,Kayıp (Bulunan) - Lost (Found),9538,4570,4968,335,173,1285,1204,2950,3591,0,0
4,Mağdur - Victim,226625,126917,99708,58476,39875,26447,21400,41992,38428,2,5
5,Bilgisine başvurma - Witness,71663,45360,26303,4057,2800,12629,8569,28670,14931,4,3
6,Diğer - Other,676,295,381,86,74,84,139,125,168,0,0

In [61]:
holder[0][2020] = indexing(holder[0][2020], holder[0][2020][''].tolist(), '')
holder[0][2021] = indexing(holder[0][2021], holder[0][2021][''].tolist(), '')
for year in years:
    holder[1][year] = indexing(holder[1][year], holder[1][year]['Reason for Reception'].tolist(), 'Reason for Reception')
    indexes = [crime.split("-")[1].strip() for crime in holder[1][year].index.tolist()]
    holder[1][year].index = indexes
tempyears = years[:-1]
for year in tempyears:
    indexes = [crime.split("-")[1].strip() for crime in holder[2][year][''].tolist()]
    holder[2][year] = indexing(holder[2][year], indexes, '')
indexes = ['Total', 'Homicide', 'Assault', 'Sexual offences', 'Threat', 'Kidnapping', 'Violations of housing immunity', 'Defamation', 'Theft', 'Robbery', 'Damage to property', 'Offences against public morality', 'Offences against the environment', 'Resistance to officer', 'Offences against the judiciary', 'Forgery', 'Use, sale and purchase of drugs', 'Social incidents', 'Opposition to passport law', 'Offences against family order', 'Cyber crimes', 'Fraud', 'Other offences against property', 'Offences against public health', 'Offences creating general danger', 'Migrant smuggling', 'Other']
holder[2][2021] = indexing(holder[2][2021], indexes, '')
for year in tempyears:
    indexes = [crime.split("-")[1].strip() for crime in holder[3][year][''].tolist()]
    holder[3][year] = indexing(holder[3][year], indexes, '')
holder[3][2021] = holder[3][2021].iloc[:-2]
['Victim', 'Victim of crime', 'Homicide', 'Assault', 'Sexual offences', 'Threat', 'Kidnapping', 'Violations of housing immunity', 'Defamation', 'Theft', 'Robbery', 'Damage to property', 'Offences against public morality', 'Offences against the environment', 'Resistance to officer', 'Offences against the judiciary', 'Forgery', 'Use, sale and purchase of drugs', 'Social incidents', 'Opposition to passport law', 'Offences against family order', 'Cyber crimes', 'Fraud', 'Other offences against property', 'Offences against public health', 'Offences creating general danger', 'Migrant smuggling', 'Other']
holder[3][2021] = indexing(holder[3][2021], indexes, '')

In [62]:
from database import Database
db = Database()

In [63]:
unsuccesful_insertions = []
succesful_insertions = []
if db.try_to_connect():
    for hold in holder:
        for year in years:
            print("Hold:", hold)
            print("Year:",year)
            dataframe = holder[hold][year] 
            name = holder_names[hold] + str(year)
            print("Table name:", name)
            try:
                db.create_table(table_name=name, df= dataframe)
            except: 
                pass
            
            if db.insert_data(table_name=name, df= dataframe):
                succesful_insertions.append(name)
                print("*****************************")
            else:
                print(f"Unsuccesful insertion of creating {name} table")
                unsuccesful_insertions.append(name)
                print("*****************************")
                
if len(unsuccesful_insertions) == 0:
    print("No unsuccesful insertions :)")
else:
    print("Unsuccesul insertions are available")
    for insertion in unsuccesful_insertions:
        print(f"Table name: {insertion}")

Connected to the database.
Hold: 0
Year: 2015
Table name: guiltykidsbasedreasonofarriveandgender2015
Table guiltykidsbasedreasonofarriveandgender2015 created succesfully.
Succesful insertion
*****************************
Hold: 0
Year: 2016
Table name: guiltykidsbasedreasonofarriveandgender2016
Table guiltykidsbasedreasonofarriveandgender2016 created succesfully.
Succesful insertion
*****************************
Hold: 0
Year: 2017
Table name: guiltykidsbasedreasonofarriveandgender2017
Table guiltykidsbasedreasonofarriveandgender2017 created succesfully.
Succesful insertion
*****************************
Hold: 0
Year: 2018
Table name: guiltykidsbasedreasonofarriveandgender2018
Table guiltykidsbasedreasonofarriveandgender2018 created succesfully.
Succesful insertion
*****************************
Hold: 0
Year: 2019
Table name: guiltykidsbasedreasonofarriveandgender2019
Table guiltykidsbasedreasonofarriveandgender2019 created succesfully.
Succesful insertion
*****************************
Hold: 0
Year: 2020
Table name: guiltykidsbasedreasonofarriveandgender2020
Table guiltykidsbasedreasonofarriveandgender2020 created succesfully.
Succesful insertion
*****************************
Hold: 0
Year: 2021
Table name: guiltykidsbasedreasonofarriveandgender2021
Table guiltykidsbasedreasonofarriveandgender2021 created succesfully.
Succesful insertion
*****************************
Hold: 1
Year: 2015
Table name: guiltykidsbasedreasonofarriveageandgender2015
Table guiltykidsbasedreasonofarriveageandgender2015 created succesfully.
Succesful insertion
*****************************
Hold: 1
Year: 2016
Table name: guiltykidsbasedreasonofarriveageandgender2016
Table guiltykidsbasedreasonofarriveageandgender2016 created succesfully.
Succesful insertion
*****************************
Hold: 1
Year: 2017
Table name: guiltykidsbasedreasonofarriveageandgender2017
Table guiltykidsbasedreasonofarriveageandgender2017 created succesfully.
Succesful insertion
*****************************
Hold: 1
Year: 2018
Table name: guiltykidsbasedreasonofarriveageandgender2018
Table guiltykidsbasedreasonofarriveageandgender2018 created succesfully.
Succesful insertion
*****************************
Hold: 1
Year: 2019
Table name: guiltykidsbasedreasonofarriveageandgender2019
Table guiltykidsbasedreasonofarriveageandgender2019 created succesfully.
Succesful insertion
*****************************
Hold: 1
Year: 2020
Table name: guiltykidsbasedreasonofarriveageandgender2020
Table guiltykidsbasedreasonofarriveageandgender2020 created succesfully.
Succesful insertion
*****************************
Hold: 1
Year: 2021
Table name: guiltykidsbasedreasonofarriveageandgender2021
Table guiltykidsbasedreasonofarriveageandgender2021 created succesfully.
Succesful insertion
*****************************
Hold: 2
Year: 2015
Table name: accusedkidsbasedtypeofaccusationandgender2015
Table accusedkidsbasedtypeofaccusationandgender2015 created succesfully.
Succesful insertion
*****************************
Hold: 2
Year: 2016
Table name: accusedkidsbasedtypeofaccusationandgender2016
Table accusedkidsbasedtypeofaccusationandgender2016 created succesfully.
Succesful insertion
*****************************
Hold: 2
Year: 2017
Table name: accusedkidsbasedtypeofaccusationandgender2017
Table accusedkidsbasedtypeofaccusationandgender2017 created succesfully.
Succesful insertion
*****************************
Hold: 2
Year: 2018
Table name: accusedkidsbasedtypeofaccusationandgender2018
Table accusedkidsbasedtypeofaccusationandgender2018 created succesfully.
Succesful insertion
*****************************
Hold: 2
Year: 2019
Table name: accusedkidsbasedtypeofaccusationandgender2019
Table accusedkidsbasedtypeofaccusationandgender2019 created succesfully.
Succesful insertion
*****************************
Hold: 2
Year: 2020
Table name: accusedkidsbasedtypeofaccusationandgender2020
Table accusedkidsbasedtypeofaccusationandgender2020 created succesfully.
Succesful insertion
*****************************
Hold: 2
Year: 2021
Table name: accusedkidsbasedtypeofaccusationandgender2021
Table accusedkidsbasedtypeofaccusationandgender2021 created succesfully.
Succesful insertion
*****************************
Hold: 3
Year: 2015
Table name: genderofkidsreasonandcrimegrievance2015
Table genderofkidsreasonandcrimegrievance2015 created succesfully.
Succesful insertion
*****************************
Hold: 3
Year: 2016
Table name: genderofkidsreasonandcrimegrievance2016
Table genderofkidsreasonandcrimegrievance2016 created succesfully.
Succesful insertion
*****************************
Hold: 3
Year: 2017
Table name: genderofkidsreasonandcrimegrievance2017
Table genderofkidsreasonandcrimegrievance2017 created succesfully.
Succesful insertion
*****************************
Hold: 3
Year: 2018
Table name: genderofkidsreasonandcrimegrievance2018
Table genderofkidsreasonandcrimegrievance2018 created succesfully.
Succesful insertion
*****************************
Hold: 3
Year: 2019
Table name: genderofkidsreasonandcrimegrievance2019
Table genderofkidsreasonandcrimegrievance2019 created succesfully.
Succesful insertion
*****************************
Hold: 3
Year: 2020
Table name: genderofkidsreasonandcrimegrievance2020
Table genderofkidsreasonandcrimegrievance2020 created succesfully.
Succesful insertion
*****************************
Hold: 3
Year: 2021
Table name: genderofkidsreasonandcrimegrievance2021
Table genderofkidsreasonandcrimegrievance2021 created succesfully.
Succesful insertion
*****************************
No unsuccesful insertions :)