In [1]:
import pandas as pd
df = pd.DataFrame(pd.read_excel("hükümlü ve tutuklu sayısı.xls")).iloc[3:13]
df.index = df["Hükümlü ve tutuklu sayısı, 2011-2020"].tolist()
df = df.drop("Hükümlü ve tutuklu sayısı, 2011-2020", axis = 1)
df.columns = ["Total", "Male", "Female"]
df

       Total    Male Female
2011  128253  123648   4605
2012  136638  131732   4906
2013  144098  138906   5192
2014  158690  152902   5788
2015  177262  170754   6508
2016  200727  192354   8373
2017  232340  222444   9896
2018  264842  254426  10416
2019  291546  280114  11432
2020  266831  256231  10600

In [2]:
from database import Database
db = Database()

In [3]:
unsuccesful_insertions = []
succesful_insertions = []
if db.try_to_connect():
    name = "hukumlututuklusayısı"
    dataframe = df
    db.create_table(name, dataframe)
    if db.insert_data(name,dataframe):
        succesful_insertions.append(name)
        print("*****************************")
    else:
        print(f"Unsuccesful insertion of creating {name} table")
        unsuccesful_insertions.append(name)
        print("*****************************")
                
if len(unsuccesful_insertions) == 0:
    print("No unsuccesful insertions :)")
else:
    print("Unsuccesful insertions are available")
    for insertion in unsuccesful_insertions:
        print(f"Table name: {insertion}")

Connected to the database.
Table hukumlututuklusayısı created succesfully.
Succesful insertion
*****************************
No unsuccesful insertions :)